* {
  box-sizing: border-box;
}

div.criers-outer-container {
    pointer-events: none;
    position: fixed;
    top: 20px;
    width: auto;
    z-index: 500;
    /* border: 1px solid red; */
   }

.criers-on-left {
   left: 20px;
}

.criers-on-right {
   right: 20px;
}

.criers-inner-container {
   pointer-events: none;
   display: grid;
   grid-template-rows: auto;
   /* grid-row-gap: 1rem; */
   justify-items: end;
   justify-content: end;
}

  .note {
     margin-bottom: 1rem;
  }

  .note1 {
     width: 200px;
     height: 20px;
     background-color: rebeccapurple;
  }

  .note2 {
     width: 480px;
     height: 24px;
     background-color: pink;
  }

  .note3 {
     width: 210px;
     height: 24px;
     background-color: limegreen;
  }
.crier {
   display: grid;
   grid-template-columns: 4.5em 6fr 2em;
   -webkit-border-radius: .5em;
   -moz-border-radius: .5em;
   border-radius: .5em;
   font-family: sans-serif;
   font-size: .8em;
   box-shadow: .1em .1em .1em .1em rgba(0, 0, 0, 0.2);
   opacity: 0;
   max-width: 25em;
   min-height: 2.5em;
   overflow: hidden !important;
   overflow: -moz-scrollbars-none !important;
   scrollbar-width: none !important;
   z-index: 600;
   transition: top 1000ms ease;

   opacity: 0;
   margin-bottom: .5rem;
   position: absolute;
   top: -500px;
}

 @media (min-width: 768px) {
   body {
     /* background-color: pink; */
   }
   .crier {
     font-size: .9rem;
     max-width: 32em;
   }
 }


 .crier .text {
   padding: .6em;
   overflow: hidden;
 }

 .crier .headline {
   font-size: 1.3em;
   overflow: hidden;
 }

 .crier .detail {
   padding-top: 0.4em;
   font-size: 0.9em;
 }

 .crier a {
   color: black;
 }

 .crier .icon-container {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 2.7em;
   color: black;
   background-color: lightgray;
   -webkit-border-top-left-radius: .1em;
   -webkit-border-bottom-left-radius: .1em;
   -moz-border-radius-topleft: .1em;
   -moz-border-radius-bottomleft: .1em;
   border-top-left-radius: .1em;
   border-bottom-left-radius: .1em;
 }

 .crier .close-icon {
   padding-top: .4em;
   font-size: 1.2em;
 }
